{% extends 'base.html' %}

{% block meta %}
<title>Register</title>
{% endblock meta %}

{% block content %}  

<style> 
     body {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          background-color:beige;
          font-family: "Times New Roman", Times, serif;
     }
     .login {
          font-family: "Times New Roman", Times, serif;
     }
</style>

<div class = "login">

<h1 class="text-center">Register</h1>  
<br>
     <form method="POST" >  
          {% csrf_token %}  
          <table>  
               {{ form.as_table }}  
               <tr>  
               <td></td>
               <td><br><input type="submit" name="submit" value="Daftar" class="btn btn-primary"/></td>  
               </tr>  
          </table>  
     </form>

{% if messages %}  
     <ul>   
          {% for message in messages %}  
               <li>{{ message }}</li>  
               {% endfor %}  
     </ul>   
{% endif %}

</div>  

{% endblock content %}